<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value=""/>
		<add key="Database" value=""/>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="Entropy" value=""/>
		<add key="RememberMe" value=""/>
		<add key="WeatherAPI" value="5b3d9e4bd9a6460fa93b4ef3397ecaeb"/>
		<add key="CurrencyAPI" value="ca557f67a2435e411959400aac45178ea7c87d56091fc2f56ecf02c8c9715789"/>
		<add key="EntropyWeatherAPI" value=""/>
	</appSettings>
</configuration>